<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1 class="center">Welcome to my portfolio</h1>
    <img id="me" src="/assets/me.jpg">
    <h4 class="center">Deployed projects</h4>
    <a class="project center" target="_blank" href="https://gentle-hamlet-6795.herokuapp.com/">Machine Learning Tic Tac Toe</a>
    <a class="project center" target="_blank" href="http://chairman-stuart-14505.bitballoon.com//">Castle Building</a>
  </body>
</html>
