<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1 class="center">Welcome to my portfolio</h1>
    <%= image_tag "me.jpg", :id => 'me'%>
    <h4 class="center">Deployed projects</h4>
    <div class="machine center">
      <a class="project machineline" id="machinelink"target="_blank" href="https://gentle-hamlet-6795.herokuapp.com/">Machine Learning Tic Tac Toe</a>
      <p class="description">Description: Machine learning tic tac toe program made in Rails</p>
    </div>
    <div class="castle center">
    <a class="project" id="castlelink" target="_blank" href="http://chairman-stuart-14505.bitballoon.com/">Castle Building</a>
    <p class="description">Description: Castle making app that lets user design their own castle</p>
    </div>
    <div class="orbit center">
    <a class="project" id="orbitlink" target="_blank" href="http://magistrate-fruits-38772.bitballoon.com/">Orbit simulation</a>
    <p class="description">Description: Orbit simulator app that lets user see how different orbits work</p>
    </div>
    <div class="orbit center">
    <a class="project" id="orbitlink" target="_blank" href="http://oceanographer-villages-28248.bitballoon.com"/>Simon Says</a>
    <p class="description">Description: Play the classic game Simon Says. Where Simon flashes a sequence of lights and you have to copy it exactly from memory!</p>
    </div>
  </body>
</html>
